h1{
    background-color: rgb(0, 0, 0);
    color: blueviolet;
   text-align: center;
}
p{
    text-align: center;
}
.imgs img{
    width: 100%;
}
.blog{
    padding:20px;
    background-color: brown;
}
.blog p{
    color: azure;
    font-size: 25px;
}